<h2>About</h2>
<p>Slow dancer in a burning room 🕺. I am also passionate about Web Development 💻.</p>
<p><em>Untitled</em> because I do not know what to call myself yet. I will let you know when I get a job, probably as a Web Developer.</p>

<h2>Stuff and Nonsense</h2>
<p>I do not have much to show here. But, you can check out my <a href="https://github.com/ramidem/RDWD">ramidem/<strong>RDWD</strong></a> repository where I track my journey to becoming a Web Developer.</p>

<h2>Contact</h2>
<p>Email? Sure...</p>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="main-list-item-icon">💌</span>
    im.ramidem@gmail.com
  </li>
</ul>

<h2>Elsewhere</h2>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="main-list-item-icon">🐙</span>
    <a href="https://github.com/ramidem">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="main-list-item-icon">🐦</span>
    <a href="http://excentris.net">Twitter</a>
  </li>
</ul>
