<h2>About</h2>
<p>Slow dancer in a burning room 🕺. I am passionate about Web Development 💻.</p>

<h2>Projects</h2>
<p>Here are some of the projects I've been working on in the last 3 months.</p>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="https://ramidem.gitlab.io/mcpinsan-capstone1/index.html">McPinsan HMTL/CSS</a> <small>a fictional cafe and workpaces.</small>
  </li>
  <li class="main-list-item">
    <a href="https://mcpinsan.herokuapp.com/">McPinsan</a> <small>the same template but I converted it to a Laravel App.</small>
  </li>
  <li class="main-list-item">
    <a href="https://presta-app-frontend.herokuapp.com/">Presta App (frontend)</a> <small>a car rental app.</small>
  </li>
  <li class="main-list-item">
    <a href="https://api-presta-app.herokuapp.com/">Presta App API (backend)</a> <small>the API for the Presta App.</small>
  </li>
</ul>

<h2>Contact</h2>
<p>Get in touch</p>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="main-list-item-icon">💌</span>
    hi@ramidem.me
  </li>
</ul>

<h2>Elsewhere</h2>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="main-list-item-icon">🐙</span>
    <a href="https://github.com/ramidem">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="main-list-item-icon">🐦</span>
    <a href="https://twitter.com/ramidem">Twitter</a>
  </li>
</ul>
